run = "npx serve . -l 3000"
entrypoint = "index.html"

[nix]
channel = "stable-22_11"

[env]
XDG_CONFIG_HOME = "/home/runner/.config"

[languages.javascript]
pattern = "**/*.js"
syntax = "javascript"

[languages.html]
pattern = "**/*.html"
syntax = "html"

[packager]
language = "html"

[packager.features]
enabledForHosting = true
packageSearch = true
guessImports = true

[deployment]
run = ["sh", "-c", "npx serve . -l 3000"]
deploymentTarget = "static"
build = ["sh", "-c", "echo 'No build step needed'"]
publicDir = "."
